*.class
*.log
/.idea
/.bsp
/target
/project
/test_run_dir
*.gtkw
*.v
*.fir
*.anno.json
firrtl_black_box_resource_files.f
.devcontainer
/synth/**/*
!/synth/**/Makefile
!/synth/**/pins.tcl
.scalafmt.conf
/.bloop
/.metals
/.vscode
